<head>
    <link rel="stylesheet" href="../bootstrap-5.3.0/css/bootstrap.min.css">
</head>


<div class="row my-2 mx-3">
    <div class="col">
        <div class="card">
            <div class="card-header fw-bold" style="background-color: #245a94; color: white; ">
                MPDC DEPARTMENT CHECKLISTS
            </div>
            <div class="card-body" style="background-color: #F2F4D1;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="barangay_clearance" >
                    <label class="form-check-label" for="barangay_clearance">Barangay Clearance (To Construct)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="app_form">
                    <label class="form-check-label" for="app_form">Application Form Duly and Notarized</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="xerox_tct" >
                    <label class="form-check-label" for="xerox_tct">Xerox Copy of TCT (Land Title)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="tax_dec" >
                    <label class="form-check-label" for="tax_dec">Tax Declaration (Updated)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="eng_plans" >
                    <label class="form-check-label" for="eng_plans">Complete Sets of Eng'ng plans</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="bom_costs_mpdc" >
                    <label class="form-check-label" for="bom_costs_mpdc">Bill of Materials & Detailed Costs Estimates</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="specs_mpdc" >
                    <label class="form-check-label" for="specs_mpdc">Material Specification</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="sa_storey_bldg" >
                    <label class="form-check-label" for="sa_storey_bldg">Structural Analysis (For 3-Storey Building)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header fw-bold" style="background-color: #245a94; color: white; ">
                FIRE DEPARTMENT CHECKLISTS
            </div>
            <div class="card-body" style="background-color: #F2F4D1;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="bom_fire" >
                    <label class="form-check-label" for="bom_fire">Bill of Materials</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="specs_fire" >
                    <label class="form-check-label" for="specs_fire">Specifications</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="plans_fire" >
                    <label class="form-check-label" for="plans_fire">Plans</label>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header fw-bold" style="background-color: #245a94; color: white; ">
                ENGINEERING
                 DEPARTMENT CHECKLISTS
            </div>
            <div class="card-body" style="background-color: #F2F4D1;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="accomplished_bp" >
                    <label class="form-check-label" for="accomplished_bp">Duly Accomplished Building Permit Forms</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="tax_dec_eng" >
                    <label class="form-check-label" for="tax_dec_eng">Latest Tax Declaration</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="tax_receipt_eng" >
                    <label class="form-check-label" for="tax_receipt_eng">Latest Tax Receipt</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="plans_eng" >
                    <label class="form-check-label" for="plans_eng">Plans/Details</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="lot_plan_eng" >
                    <label class="form-check-label" for="lot_plan_eng">Lot Plan</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="loc_plan_eng" >
                    <label class="form-check-label" for="loc_plan_eng">Location Plan</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="bom_eng" >
                    <label class="form-check-label" for="bom_eng">Bill of Materials</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="specs_eng" >
                    <label class="form-check-label" for="specs_eng">Specification</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="logbook_eng" >
                    <label class="form-check-label" for="logbook_eng">Logbook</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="soil_boring_test_eng" >
                    <label class="form-check-label" for="soil_boring_test_eng">Soil Boring Tests</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="dole_eng" >
                    <label class="form-check-label" for="dole_eng">DOLE Dept. order 13 series of 1998 
                        Guidelines Governing Occupational Saftey & Health in the construction</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="denr_eng" >
                    <label class="form-check-label" for="denr_eng">DENR (ECC OR CNC)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="dpwh_eng" >
                    <label class="form-check-label" for="dpwh_eng">DPWH Clearance</label>
                </div>
                
            </div>
        </div>
    </div>
</div>
